@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Meddon&display=swap');

body {
    margin: 0;
    overflow-x: hidden;
    background-color: #f8f4eb;
}

@font-face {
    font-family: 'headerFont';
    src: url('../fonts/nulshock bd.ttf') format('truetype');
}

.floating-container {
    background: #efbccf;
    border: 3px solid black;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    margin: 1rem auto;
    padding: 1rem;
    width: calc(100% - 2rem);
    max-width: 1500px;
    border-radius: 15px 15px 0 0;
    padding-bottom: 0;
    margin-bottom: 5px;
}

.floating-container h1 {
    font-family: 'headerFont', sans-serif;
    font-size: clamp(1.2rem, 3vw, 3rem);
}

.cs-name-link {
    font-family: 'VT323', monospace;
    font-size: clamp(1.1rem, 2.8vw, 2rem);
    text-transform: uppercase;
}

.cs-name-link a {
    text-decoration: none;
    color: black;
}

.cs-name-link a:hover {
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.cs-name-link.active {
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.navbar-row {
    background: #fbf1f2;
    border-top: 3px solid black;
    margin-left: -16px;
    margin-right: -16px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px 0;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.nav-link {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    padding: 3px;
    font-family: 'VT323', monospace;
    white-space: nowrap;
    font-size: clamp(1.2rem, 2vw, 2.5rem);
}

.nav-link:hover {
    color: #efbccf;
    background-color: black;
    border-radius: 8px;
}

.nav-item {
    margin: 0 20px;
}

.navbar-nav .nav-link.active {
    color: #efbccf;
    background-color: black;
    border-radius: 8px;
}

.navbar-toggler.custom-toggler {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    border: 2px solid black;
    border-radius: 8px;
}

.navbar-toggler-icon {
    margin: auto;
    background-image: none;
}

.navbar-toggler-icon::before {
    content: '';
    display: block;
    width: 25px;
    height: 3px;
    background-color: #efbccf;
    margin: 5px 0;
    border-radius: 2px;
}
  
.navbar-toggler-icon::after {
    content: '';
    display: block;
    width: 25px;
    height: 3px;
    background-color: #efbccf;
    margin: 5px 0;
    border-radius: 2px;
}
  
.navbar-toggler-icon span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #efbccf;
    border-radius: 2px;
}

.nav-spacing .nav-item {
    margin: 0 87px;
    text-align: center;
    line-height: 0.8;
}

.nav-spacing .nav-link {
    font-size: clamp(1.5rem, 1.8vw, 3.5rem);
    white-space: nowrap;
}

.floating-container-2 {
    background: #fbf1f2;
    border: 3px solid black;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    margin: 1px auto 1rem;
    width: calc(100% - 2rem);
    max-width: 1500px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.home-content {
    margin: 0.8rem auto;
    padding: 0.5rem auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: first baseline;
}

.carousel-fixed {
    flex: 0 0 40%;
    max-width: 40%;
    height: 60vh;
    min-height: 500px;
    overflow: hidden;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.carousel-inner {
    width: 100%;
    height: 100%;
}

.carousel-item {
    width: 100%;
    height: 100%;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#carouselExampleIndicators {
    padding: 0;
}

.carousel-indicators button {
    background-color: white;
}

.carousel-indicators .active {
    background-color: #efbccf;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #efbccf;
}

.text-align-justify {
    text-align: justify;
}

.home-content-blocks {
    display: flex; 
    flex-direction: column;
    flex: 0 0 60%;
    max-width: 60%;
    padding-left: 1rem;
    margin: 0 auto;
    padding-right: 0;
}

.blocks-content-1 {
    border: 3px solid black;
    border-radius: 10px;
    background: white;
    padding: 20px 20px 8px 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    font-family: 'VT323', monospace;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blocks-content-1 h1 {
    font-size: clamp(30px, 4vw, 40px);
    padding-top: 2.5rem;
}

.blocks-content-1 p {
    font-size: clamp(16px, 2vw, 20px);
    line-height: 1;
}

.blocks-content-2 {
    border: 3px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
    height: 25vh;
    min-height: 186px;
}

.blocks-content-2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blocks-content-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.hello {
    position: absolute;
    top: 15px;
    left: -10px;
    background-color: #efbccf;
    padding: 5px 20px;
    border-radius: 10px;
    border: 3px solid black;
    font-size: clamp(16px, 2vw, 25px);
    font-weight: bold;
}

.home-button {
    border: 3px solid black;
    border-radius: 60px;
    background: #efbccf;
    padding: 5px 40px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    font-family: 'VT323', monospace;
    font-size: clamp(15px, 1.7vw, 20px);
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.home-button:hover {
    background-color: #c78ca0;
    color: black;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

.about-content {
    margin: 0.8rem auto;
    padding: 0.5rem auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: first baseline;
}

.video-container {
    flex: 0 0 40%;
    max-width: 40%;
    max-height: 500px;
    height: calc(100vh - 100px);
    overflow: hidden;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.video-content {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-content-blocks {
    display: flex; 
    flex-direction: column;
    flex: 0 0 60%;
    max-width: 60%;
    padding-left: 1rem;
    margin: 0 auto;
    padding-right: 0;
}

.playlist-content {
    margin: 0.8rem auto;
    padding: 0.5rem auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: first baseline;
}

.gallery-content {
    margin: 0.8rem auto;
    padding: 0.5rem auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: first baseline;
}

.footer {
    background: #efbccf;
    border: 3px solid black;
    margin: 1rem auto;
    padding: 1rem 1rem 0 1rem;
    width: calc(100% - 2rem);
    max-width: 1500px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: 'VT323', monospace;
}

.footer a {
    color: #c78ca0;
}

.footer a:hover {
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0 auto;
    padding: 1rem;
    width: calc(100% - 2rem);
    max-width: 570px;
}

.modal-content {
    background: #fbf1f2;
    border: 3px solid black;
    margin: auto;
    width: 90%;
}

.modal-header {
    background-color: #efbccf;
    border-bottom: 3px solid black;
}

.modal-title {
    font-family: 'VT323', monospace;
}

.modal-footer {
    background: #efbccf;
    border-top: 3px solid black;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-header .btn-close {
    color: black;
    background-color: white;
    border-radius: 5px;
    border: 2px solid black;
    width: 12px;
    height: 12px;
    padding: 4px 10px;
    font-size: 10px;
}

.pf-header {
    background: #c78ca0;
    border: 3px solid black;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.pf-logo {
    width: 120px;
    height: 50px;
    overflow: hidden;
}

.pf-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.pf-header-title {
    font-family: 'VT323', monospace;
    text-transform: uppercase;
    color: white;
    font-size: clamp(1.2rem, 2vw, 1.7rem);
    text-align: right;
    margin: 0;
    line-height: 0.7;
}

.pf-header-subtitle {
    font-family: 'VT323', monospace;
    text-transform: uppercase;
    font-weight: lighter;
    color: white;
    font-size: clamp(1rem, 1.5vw, 1.5rem);;
    text-align: right;
    margin: 0;
    line-height: 0.7;
}

.pf-content {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    padding: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.pfp-icon {
    width: 130px;
    height: 150px;
    overflow: hidden;
    border: 2px solid black;
    margin: 0;
    padding: 0;
}

.pfp-icon img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pf-details {
    padding: 5px 0 5px 20px;
    line-height: 0.7;
}

.pf-details p {
    margin: 3px 0;
    display: flex;
    justify-content: space-between;
}

.pf-details .label {
    font-family: 'VT323', monospace;
    font-weight: bold;
    font-size: clamp(1.2rem, 1.8vw, 1.4rem);
}

.pf-details .value {
    text-align: right;
    text-transform: uppercase;
    font-family: 'VT323', monospace;
    font-size: clamp(1.4rem, 2vw, 1.6rem);
}

.pf-details .line {
    border-bottom: 1px dotted black;
    margin: 3px 0;
}

.pf-details .signature {
    text-align: center;
    padding-top: 0;
}

.pf-details .signature .sign {
    align-items: center;
    justify-content: center;
    font-family: "Meddon", serif;
    font-size: 20px;
    margin: 10px 0 0;
    padding-top: 0;
    z-index: 1;
    margin-bottom: 0;
}

.pf-details .signature-line {
    border-bottom: 1px solid black;
    width: 60%;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}

.pf-details .signature-label {
    font-family: 'VT323', monospace;
    align-items: center;
    justify-content: center;
    margin: 1px 0;
    padding: 1px 0;
    font-size: 15px;
    text-transform: uppercase;
    color: black;
}


@media (max-width: 768px) {
    .carousel-fixed, .video-container, .home-content-blocks, .about-content-blocks {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .carousel-fixed, .video-container {
        max-height: 400px;
        height: 100%;
        margin-bottom: 1rem;
    }

    .carousel-inner img {
        object-fit: cover;
        align-items: center;
        justify-content: center;
    }

    .home-content-blocks, .about-content-blocks {
        padding-left: 0;
    }

    .floating-container-2 {
        justify-content: center;
    }

    .pf-content {
        flex-wrap: wrap;
        padding: 10px;
    }

    .pf-details {
        text-align: left;
        padding: 10px;
    }

    .pf-details p {
        text-align: right;
    }
}

@media (max-width: 992px) {
    .navbar-collapse {
      text-align: center;
    }
  
    .nav-spacing {
      flex-direction: column;
      gap: 10px;
      margin-top: 10px;
      line-height: 2;
    }
  
    .nav-item {
      margin-bottom: 5px;
    }
}

.splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.5s ease;
    pointer-events: auto;
}

.splash-screen.hidden {
    opacity: 0;
    pointer-events: none;
}

.splash-container {
    background-color: #efbccf;
    padding: 2rem;
    border-radius: 10px;
    border: 3px solid black;
    box-shadow: 0 4px 8px rgb(192, 148, 148, 1);
    text-align: center;
    animation: fade-in 1.5s ease-in-out;
}

.splash-message {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'VT323', monospace;
    animation: blink 0.6s step-end infinite alternate;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes blink {
    from {
        border-color: transparent;
    }
    to {
        border-color: #ffffff;
    }
}